---
layout: layouts/base.njk
title: Shop Sia.Studio
tags:
  - nav
navtitle: Shop
templateClass: tmpl-post
---

{{ prices | log }}

{% set introHeading = title %} {% set introSummary %}{{ content | safe }}{%
  endset %}

<main id="main-content" tabindex="-1">
  {% include "intro.njk" %}
  {% include "productlist.njk" %}
</main>
