---
layout: layouts/base.njk
---
<!-- TODO: add author stuff for webmentions -->
<!-- <div class="content-680 h-entry">
  <h1 class="p-name">{{ title }}</h1>
  <p class="p-summary lead">{{ description }}</p>
  <p class="byline"><time class="dt-published" datetime="{{ date }}">{{ date | readableDate }}</time> by <span class="h-card p-author"><img class="u-photo" width="24" height="24" src="/img/sia_96.jpg" alt="" width="48" height="48" loading="lazy"> <a class="u-url" href="https://sia.studio/">Sia Karamalegos</a></span> </p>
</div> -->

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
<p class="[ intro__meta ] [ text-500 leading-tight ]">
  <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
  <span>— {{ content | getReadingTime }} minute read</span>
</p>
{% endset %}

<main id="main-content" tabindex="-1">
  <article class="[ post ] [ h-entry ]">
    {% include "intro.njk" %}
    <div class="[ post__body ] [ inner-wrapper ] [ leading-loose pad-top-900 {{ 'pad-bottom-900' if not site.enableThirdPartyComments }} text-500 ] [ sf-flow ] [ e-content ]">
      {{ content | safe }}
    </div>
    {% if tags %}
      <footer class="[ post__footer ] [ pad-top-500 pad-bottom-500 ]">
        <div class="inner-wrapper">
          <div class="[ nav ] [ box-flex align-center ]">
            <h2 class="font-base text-600 weight-mid">Filed under</h2>
            <ul class="[ nav__list ] [ box-flex align-center pad-left-400 ] [ p-category ]">
              {% for tag in tags %}
                {%- if tag != "posts" -%}
                <li class="nav__item">
                  <a href="/tags/{{ tag }}">{{ tag }}</a>
                </li>
                {%- endif -%}
              {% endfor %}
            </ul>
          </div>
        </div>
      </footer>
    {% endif %}
  </article>
</main>

